/* box colors */
$boxImg_bg_color_green : rgba(101, 255, 101, 0.835);
$box_bg_color_green : rgba(101, 255, 101);
$box_bg_color_yellow : rgb(255, 255, 134);
$box_bg_color_red : rgb(255, 134, 134);


/* button colors */
$button_bg_color_green : green;
$button_bg_color_black : rgb(25, 25, 25);
$button_color_green : rgba(101, 255, 101);